/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-image: url("./background.jpg");
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  /*background-color: rgba(255,0,0,.3);*/
}

.scoreboard {
  display: inline-block;
  padding: 20px;
  min-width: 200px;
  background-color: rgba(255,255,255,.5);
  border-radius: 5px;
}

.kamikaze_bg {
  background-image: url("./kamikaze.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.timer {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 50px;
  color: red;
}

.kamikaze_bg .timer {
  display: block;
}

.asteroids:hover {
  fill: red;
  border-radius: 50%;
}

.final-score {
  position: fixed;
  width: 20%;
  left: 40%;
  background: rgba(255,255,255,.5);
  padding: 50px;
  top: 20%;
  text-align: center;
  border-radius: 5px;
}
.is-hidden {
  display: none;
}

button {
  min-width: 50px;
  min-height: 30px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px
}